params{
	query = "$PWD/input.fasta"
  	dbDir = "$PWD/DB"
  	dbName = "blastDB"
  	threads = 2
  	outdir = "out_dir"
	outFileName = "input.blastout"
	options = "-evalue 1e-3"
	outfmt = "'6'"
	app = "blastn"
	help = false
}

timeline{
	enabled=true
	file = "$params.outdir/timeline.html"
}

report{
	enabled=true
	file = "$params.outdir/report.html"
}

manifest {
  name = 'ag-deepesh/tutorial'
  author = 'Deepesh Agarwal'
  homePage = 'https://github.com/ag-deepesh/tutorial'
  description = 'Run blast pipeline.'
  mainScript = 'main.nf'
  nextflowVersion = '!>=20.10.0.5430'
  version = '1.0.0'
}
